-unless request.url.scan(/from_user=(\w+)/).to_s.eql?('true') and true
  %p
    = link_to t('common.back_to_search'), "/search_user?search_input=#{session[:search_input]}"
%p
  =link_to t('user.me'), "/users/#{@the_instance.user.id}"
  %br
  -unless @the_instance.user.items.find_all_by_item_type('Stringg').size == 0
    = link_to t('user.stringgs'), stringgs_url(:user_id => @the_instance.user.id, :taggable_type => 'Stringg', :contact => 1)
    %br
  -unless @the_instance.user.items.find_all_by_item_type('Bow').size == 0
    = link_to t('user.bows'), bows_url(:user_id => @the_instance.user.id, :taggable_type => 'Bow', :contact => 1)
%div#show_workshop_tags
  %h2
    =t('workshop.my_tags')
  -@added_tags.each do |tag|
    %div.show_workshop_tags_item
      %h2
        =tag.tag_names.find_by_language(get_locale.to_s).value
        -unless added_child_tags(tag, @the_instance.id).empty?
          %span.open
            =image_tag '/images/down.png'
          %span.close
            =image_tag '/images/up.png'
      -unless added_child_tags(tag, @the_instance.id).empty?
        -added_child_tags(tag, @the_instance.id).each do |tag|
          %div.row
            %strong
              =tag.tag_names.find_by_language(get_locale.to_s).value
            -unless added_child_tags(tag, @the_instance.id).empty?
              %br
              =added_child_tags(tag, @the_instance.id).collect {|_tag| _tag.tag_names.find_by_language(get_locale.to_s).value}.join(", ")
          

-unless @the_instance.photos.empty?
  %div#workshop_thumbnails_show
    %h2
      =t('common.photo_gallery')
    =render '/photos/show_thumbnails.html.erb'

%div#show_workshop_description
  %h2
    =t('workshop.description')
  = simple_format(h @the_instance.description)


  
  

