<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('mailer.thanks_for_request') %>, <%=h @request.name %></h1>
    <% @request.tags.find_all_by_parent_id(nil).each do |tag| %>
    <h2><%= tag.tag_names.find_by_language("de").value %></h2>
      <% taggings = @request.tags.find_all_by_parent_id(tag.id, :order => "position") %>
      <% unless taggings.empty? %>
          <p><%= taggings.first.tag_names.find_by_language("de").value %></p>
      <% else %>
          <p><%= simple_format TagValue.find_by_taggable_id_and_tag_id(@request.id, tag.id).value %></p>
      <% end %>
    <% end %>
  </body>
</html>
