-unless @user_search_words.nil?
  =@user_search_words.inspect
-unless @users.nil?
  - @users.each do |user|
    %div.list_index
      %div.image
        -unless user.profile_image.nil?
          = link_to image_tag("#{user.profile_image.public_filename(:thumb)}", :width => 140),  user.profile_image.public_filename, :title => ' ', :class => 'group', :rel  => 'group1'
        -else
          = image_tag('/images/anonymous.jpg', :width => 140)
      %div.info
        -unless user.full_name.size == 1 
          =link_to user.full_name, user
        -else 
          =link_to user.username, user
        %p
          =link_to t('user.workshop'), "/workshop.#{user.id}"
          %br
          -unless user.items.find_all_by_item_type('Stringg').size == 0
            = link_to t('user.stringgs'), stringgs_url(:user_id => user.id, :taggable_type => 'Stringg', :contact => 1)
            %br
          -unless user.items.find_all_by_item_type('Bow').size == 0
            = link_to t('user.bows'), bows_url(:user_id => user.id, :taggable_type => 'Bow', :contact => 1)
          
        %p
          -unless user.tags.empty?
            -user.tags.find_all_by_parent_id(nil).each do |tag|
              -if tag.visible.to_s.eql?('1') || tag.visible.to_s.eql?('true')
                -if tag.children.empty?
                  -if tag.value_type.to_s.eql?('preisfeld')
                    -unless TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, user.id).value.nil?
                      ='Euro '+ get_price_format(TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, user.id).value)
                  -else
                    =TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, user.id).value
                -else
                  =tagged_tag_name(tag, user)
                %br
