-content_for :head do
  = GMap.header(:with_vml => false)
  = @map.to_html
  
%div.search_text
  =t('workshop.search_text')

= render "/search/user_search.haml"

%div.google_map
  = @map.div(:width => 410, :height => 400)

%div.add_images
  =render '/layouts/adds_content.haml'

%div.user_ajax_search
  = render "/users/index.haml"