%div#profile_info
  -unless @user.profile_image.nil?
    = link_to image_tag("#{@user.profile_image.public_filename(:thumb)}", :width => 140),  @user.profile_image.public_filename, :title => @user.profile_image.description, :class => 'group', :rel  => 'group1'
  -else
    = image_tag('/images/anonymous.jpg', :width => 140)
  %p
    -unless @user.full_name.size == 1 
      =@user.full_name 
    -else 
      =@user.username
    %br
    =mail_to @user.email
    %p
      =link_to t('user.workshop'), "/workshop.#{@user.workshop.id}"
      %br
      -unless @user.items.find_all_by_item_type('Stringg').size == 0
        = link_to t('user.stringgs'), stringgs_url(:user_id => @user.id, :taggable_type => 'Stringg')
        %br
      -unless @user.items.find_all_by_item_type('Bow').size == 0
        = link_to t('user.bows'), bows_url(:user_id => @user.id, :taggable_type => 'Bow')
        
    
%div#show_user_tags
  -@added_tags.each do |tag|
    %div.show_user_tags_item
      %h2
        =tag.tag_names.find_by_language(get_locale.to_s).value
      -if tag.children.empty?
        -if tag.value_type.to_s.eql?('preisfeld')
          -tagvalue = get_price_format(TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, @user.id).value)
          -unless tagvalue.nil?
            ='Euro ' << tagvalue.to_s
        -else
          -tagvalue = TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, @user.id)
          -unless tagvalue.nil?
            =tagvalue.value
      -else
        -unless get_selected_child_tag_id(tag, @user).nil?
          =Tag.find(get_selected_child_tag_id(tag, @user)).tag_names.find_by_language('de').value