<% content_for :head do %>
  <%= GMap.header(:with_vml => false) %>
  <%= @map.to_html %>
<% end %>
<div class="site">
<div class='start_left'>
  <% unless Site.find_all_by_siteable_type_and_parent_id_and_active('Startleft', nil, 1).nil? %>
    <% Site.find_all_by_siteable_type_and_parent_id_and_active('Startleft', nil, 1, :order => 'position').each do |site| %>
      <% site.sitetexts.find_all_by_active_and_archive(1, 0, :order => 'position').each do |text| %>
      <div style="width:100%">
        <%= text.sitetextnames.find_by_language(get_locale.to_s).content %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<div class="right"><h1><%= t('user.near') %></h1></div>
<div class="google_map_start">
  <%= @map.div(:width => 440, :height => 400) %>
</div>

<div class='start_right'>
    <% unless Site.find_all_by_siteable_type_and_parent_id_and_active('Startright', nil, 1).nil? %>
      <% Site.find_all_by_siteable_type_and_parent_id_and_active('Startright', nil, 1, :order => 'position').each do |site| %>
        <% site.sitetexts.find_all_by_active_and_archive(1, 0, :order => 'position').each do |text| %>
        <div style="width:100%">
          <%= text.sitetextnames.find_by_language(get_locale.to_s).content %>
        </div>
        <% end %>
      <% end %>
    <% end %>
</div>
</div>

