<% title "Requests" %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% for request in @requests %>
    <tr>
      <td><%=h request.name %></td>
      <td><%=h request.email %></td>
      <td><%= link_to "Show", request %></td>
      <td><%= link_to "Edit", edit_request_path(:id => request) %></td>
      <td><%= link_to "Destroy", request, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


