-unless @the_instances.nil? 
  -for item in @the_instances
    %div.list_index
      %div.image
        -photo = Photo.find_by_photo_container_id_and_photo_container_type(item.id, 'Item')
        -unless photo.nil?
          = link_to image_tag("#{photo.public_filename(:thumb)}", :width => 140),  photo.public_filename, :title => ' ', :class => 'single_image'
        -else
          = image_tag('/images/anonymous.jpg', :width => 140)
      %div.info
        %strong
          =t('user.contact') << ':'
        -if item.contact.to_s.eql?('1')
          =item.user.full_name
          =" (Email: #{mail_to item.user.email})"
        -else
          ='Violination.com'
          =" (Email: #{mail_to 'post@violination.com'})"
        %br
        -unless item.tags.find_by_parent_id(nil).nil?
          -get_added_tags(item.tags.find_by_parent_id(nil), item.id).each do |tag|
            -if tag.visible.to_s.eql?('1') || tag.visible.to_s.eql?('true')
              -if tag.children.empty?
                -if tag.value_type.to_s.eql?('preisfeld')
                  -unless TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, item.id).value.nil?
                    ='Euro '+ get_price_format(TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, item.id).value)
                -else
                  =TagValue.find_by_language_and_tag_id_and_taggable_id('de', tag.id, item.id).value
              -else
                =tagged_tag_name(tag, item)
              %br
        
        
        %p
        -if @user_id
          = link_to t('common.show'), "/#{@taggable_type.to_s.downcase.pluralize}/#{item.id}?taggable_type=#{@taggable_type.to_s}&user_id=#{@user_id}"
        -else
          = link_to t('common.show'), "/#{@taggable_type.to_s.downcase.pluralize}/#{item.id}?taggable_type=#{@taggable_type.to_s}"