-content_for :head do
  = GMap.header(:with_vml => false)
  = @map.to_html
  
%div.search_text
  -if @taggable_type.to_s.eql?('Stringg')
    =t('instrument.search_text')
  -elsif @taggable_type.to_s.eql?('Bow')
    =t('bow.search_text')

= render "/search/item_search.haml"

%div.google_map
  = @map.div(:width => 420, :height => 300)

%div.item_ajax_search

  = render '/items/index.haml'
  


 
