-content_for :head do
  = GMap.header(:with_vml => false)
  = @map.to_html
= javascript 'clusterer'


%div.search_text
  -if @taggable_type.to_s.eql?('Stringg')
    =t('instrument.search_text')
  -elsif @taggable_type.to_s.eql?('Bow')
    =t('bow.search_text')

= render "/search/item_search.haml"

%div.google_map
  = @map.div(:width => 410, :height => 400)
  
%div.add_images
  =render '/layouts/adds_content.haml'

%div.item_ajax_search
  = render '/items/index.haml'
  


 
