-if @the_instance.class.to_s.eql?('Bow')
  -title t('bow.of') << ' ' << @the_instance.user.username
-else
  -title t('instrument.of') << ' ' << @the_instance.user.username

-if current_user && current_user.id == @the_instance.user_id
  %span.right
    -form_for Item.find(@the_instance.id), :method => :put do |f|
      =hidden_field :taggable_type, '', :value => @the_instance.class.to_s
      =f.select :contact, { t('instrument.self_contact') => '1', t('instrument.violination_contact') => '0' }, {:selected => @the_instance.contact.to_s}
      =f.submit t('common.update')
    
  %p
    = link_to t('common.destroy'), "/#{@the_instance.class.to_s.downcase.pluralize}/destroy/#{@the_instance.id}?taggable_type=#{@the_instance.class.to_s}", :confirm => 'Are you sure?'
    


%div#edit_instance_tags_js
  -if current_user && current_user.id == @the_instance.user_id
    %div#available_instance_tags_js
      = render '/taggables/available_instance_attributes_js.haml'
  
  -if current_user && current_user.id == @the_instance.user_id
    %div#added_instance_tags
      = render '/taggables/added_instance_attributes_js.haml'
  -else
    %div#added_instance_tags_full
      = render '/taggables/show_taggables.haml'
      
      
      
-if current_user && current_user.id == @the_instance.user_id  
  =render '/photos/file_upload_js'

  %div.photo_upload
    %h2
      =t('common.photo_gallery')
      %span.open
        =image_tag '/images/down.png'
      %span.close
        =image_tag '/images/up.png'
    
    %div.new_image_upload_form
      
      -unless @photos.size > @the_instance.maximum_file_count - 1
        =render '/photos/upload_form'
    
    -if @photos.size > 0
      %div#thumbnails
        =render '/photos/thumbnails'
      
  
%div#divFileProgressContainer
      

  
    	
  
  



