%div{:class => 'popupContact', :id => "popup#{photo.id}"}
  %h2
    = t("photo.description") 
  -form_for photo, :method => :put, :class => 'id_of_photo' do |f|
    %br
    %p
      = f.text_area :description, :class  => 'text_area'
    
    %p
      = f.submit t('common.update')
      =t('common.or')
      = link_to t('common.cancel'), '', :rel => 'popupContact', :class => 'popupContactClose'