<%= javascript 'popup' %>

<% @photos.each do |photo| %>
<div class="new_thumbs_out">
	<div class="new_thumbs">
	  <% if photo.description.nil? || photo.description.to_s.eql?('') %>
	    <%= link_to image_tag("#{photo.public_filename(:thumb)}", :width => 80),  photo.public_filename, :title => 'Violination.com', :class => 'group', :rel  => 'group1' %>
	  <% else %>
	    <%= link_to image_tag("#{photo.public_filename(:thumb)}", :width => 80),  photo.public_filename, :title => photo.description, :class => 'group', :rel  => 'group1' %>
	  <% end %>
	</div>
  <%= render '/photos/popup.haml', :photo => photo %>
	<div class="new_thumbs_edit_delete">
  	  <%= link_to image_tag("edit.png", :width => '20'), edit_photo_path(photo), :class => 'popup', :rel => "popup#{photo.id}", :title => photo.id %>
  	  <%= render '/photos/popup', :photo => photo %>
  		<%= link_to image_tag("delete.png", :width => '20'), "/photos/destroy/#{photo.id}", :class => 'delete_photo' %>
  </div>
</div>
<% end %>