<form>
  <p>
  <%= t('photo.upload_text') %>
  <br/>
  <%= t('photo.remaining_counts') %>
  <%= ': ' %>
  <%= @the_instance.maximum_file_count - @the_instance.photos.find_all_by_parent_id(nil).size  %>
  <br/>
    <%= t('photo.max_file_size') %>
    <%= ': ' %>
    <%= @the_instance.maximum_file_size %>
  </p>
	<div class="spanButtonPlaceholderDiv">
		<span id="spanButtonPlaceholder"></span>
	</div>
</form>