<form>
  <p>
  <%= t('photo.upload_text') %>
  <br/>
  <%= t('photo.remaining_counts') %>
  <%= ': ' %>
  <%= @the_instance.maximum_file_count - @the_instance.photos.find_all_by_parent_id_and_photo_container_type(nil, @the_instance.class.to_s).size  %>
  <br/>
    <%= t('photo.max_file_size') %>
    <%= ': ' %>
    <%= @the_instance.maximum_file_size %>
  </p>
	<div class="spanButtonPlaceholderDiv" style="border: solid 1px #7FAAFF; background-color: #C5D9FF;  padding: 2px;  height:40px; width: 150px;">
		<span id="spanButtonPlaceholder"></span>
	</div>
</form>