
<% if logged_in? %>
<ul class="dropdown">
  
	<li>
	  <%= link_to t('common.home'), root_url %>
	</li>
	
	<li>
	  <a href="#"><%= t('common.account') %></a>
	  <ul class="sub_menu">
	    <li><%= link_to t('user.my_profile'), user_path(current_user, :from_user => true) %></li>
	    <li><%= link_to t('user.edit_account'), edit_user_path(current_user) %></li>
	    <li><%= link_to t('user.personals'), personals_path %></li>
	    <li><%= link_to t('user.coordinates'), "/locations/#{Location.find_by_taggable_type_and_taggable_id('User', current_user.id).id}/edit"%></li>
	  </ul>
	</li>
	
	<li><a href="#"><%= t('user.my_workshop') %></a>
	    <ul>
		    <li><%= link_to t('workshop.edit'), edit_workshop_url(current_user.id) %></li>
		    <li><%= link_to t('workshop.show'), workshop_url(current_user.id, :from_user => true) %></li>
		    <li><%= link_to t('workshop.all'), users_url %></li>
	    </ul>
	</li>
	
	<li><a href="#"><%= t('common.instruments') %></a>
	    <ul>
		    <li><%= link_to t('instrument.all'), "/items?taggable_type=Stringg" %></li>
		    <li><%= link_to t('instrument.mine'), "/items?taggable_type=Stringg&user_id=#{current_user.id}" %></li>
		    <li><%= link_to t('instrument.new'),  "/items/new?taggable_type=Stringg" %></li>
	    </ul>
	</li>
	
	<li><a href="#"><%= t('common.bows') %></a>
	    <ul>
		    <li><%= link_to t('bow.all'), "/items?taggable_type=Bow" %></li>
		    <li><%= link_to t('bow.mine'), "/items?taggable_type=Bow&user_id=#{current_user.id}" %></li>
		    <li><%= link_to t('bow.new'),  "/items/new?taggable_type=Bow" %></li>
	    </ul>
	</li>
	
	<li>
	  <%= link_to "Lounge", "http://violounge.com", :popup => true %>
	</li>
	
	<li>
    <a  href="#">
      <%= t('site.editorial') %>
    </a>
    <ul>
      <% Site.find_all_by_siteable_type_and_parent_id_and_active('Editorial', nil, 1, :order => 'position').each do |parent_site| %>
      <li ><%= link_to parent_site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{parent_site.id}" %>
        <% unless parent_site.children.empty? %>
        <ul>
          <% parent_site.children.find_all_by_active(1, :order => 'position').each do |site| %>
          <li ><%= link_to site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{site.id}" %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  </li>
   
	<li>
    <a  href="#">
      <%= t('site.functional') %>
    </a>
    <ul>
      <% Site.find_all_by_siteable_type_and_parent_id_and_active('functional', nil, 1, :order => 'position').each do |parent_site| %>
      <li ><%= link_to parent_site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{parent_site.id}" %>
        <% unless parent_site.children.empty? %>
        <ul>
          <% parent_site.children.find_all_by_active(1, :order => 'position').each do |site| %>
          <li ><%= link_to site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{site.id}" %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  </li>
    
  <li>
    <a  href="#">
      <%= t('site.service') %>
    </a>
    <ul>
      <% Site.find_all_by_siteable_type_and_parent_id_and_active('Header', nil, 1, :order => 'position').each do |parent_site| %>
      <li >
        <%= link_to parent_site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{parent_site.id}" %>
      </li>
      <% end %>
    </ul>
  </li>
	
	<% if current_user.admin %>
	<li ><a href="#"><%= t('common.admin') %></a>
	    <ul>
	      <li><%= link_to t('tag.user.index'), tags_path(:taggable_type => 'User'), :class => 'pureCssMenu' %></li>
		    <li><%= link_to t('tag.workshop.index'), tags_path(:taggable_type => 'Workshop'), :class => 'pureCssMenu' %></li>
		    <li><%= link_to t('tag.stringg.index'), tags_path(:taggable_type => 'Stringg'), :class => 'pureCssMenu' %></li>
		    <li><%= link_to t('tag.bow.index'), tags_path(:taggable_type => 'Bow'), :class => 'pureCssMenu' %></li>
		    <li><%= link_to t('tag.request.index'), tags_path(:taggable_type => 'Request'), :class => 'pureCssMenu' %></li>
		    <li><%= link_to t('site.admin'), '#', :class => 'pureCssMenu' %>
		      <ul>
		        <li><%= link_to t('site.images'), "/photo_containers" %></li>
    		    <li><%= link_to t('site.editorial'), "/sites?siteable_type=Editorial" %></li>
						<li><%= link_to t('site.functional'), "/sites?siteable_type=Functional" %></li>
    		    <li><%= link_to t('site.footer'), "/sites?siteable_type=Footer" %></li>
    		    <li><%= link_to t('site.header'), "/sites?siteable_type=Header" %></li>
    		    <li><%= link_to t('site.startsite_left'), "/sites?siteable_type=Startleft" %></li>
    		    <li><%= link_to t('site.startsite_right'), "/sites?siteable_type=Startright" %></li>
    	    </ul>
		    </li>
		    <li><%= link_to t('request.all'), requests_path %></li>
	    </ul>
	</li>
	<% end %>
	
	<li>
	  <%= link_to t('user.logout'), logout_path %>
	</li>
	
</ul>


<% else %>

<ul class="dropdown">
  
  <li>
    <a  href="/"><%= t('common.home') %></a>
  </li>
  <li>
    <a  href="/users"><%= t('common.workshops') %></a>
  </li>
  <li>
    <a  href="/items?taggable_type=Stringg"><%= t('common.instruments') %></a>
  </li>
	<li>
    <a  href="/bows?taggable_type=Bow"><%= t('common.bows') %></a>
  </li>
	
	<li>
	  <a  href="/requests/new"><%= t('common.request') %></a>
	</li>
	
	<li><a  href="#"><%= t('site.editorial') %></a>
	    <ul>
	      <% Site.find_all_by_siteable_type_and_parent_id_and_active('Editorial', nil, 1, :order => 'position').each do |parent_site| %>
		    <li ><%= link_to parent_site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{parent_site.id}" %>
		      <% unless parent_site.children.empty? %>
		      <ul>
		        <% parent_site.children.find_all_by_active(1, :order => 'position').each do |site| %>
		          <li ><%= link_to site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{site.id}" %></li>
		        <% end %>
		      </ul>
		      <% end %>
		    </li>
		    <% end %>
	    </ul>
	</li>
	
	<li>
    <a  href="#">
      <%= t('site.functional') %>
    </a>
    <ul>
      <% Site.find_all_by_siteable_type_and_parent_id_and_active('functional', nil, 1, :order => 'position').each do |parent_site| %>
      <li ><%= link_to parent_site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{parent_site.id}" %>
        <% unless parent_site.children.empty? %>
        <ul>
          <% parent_site.children.find_all_by_active(1, :order => 'position').each do |site| %>
          <li ><%= link_to site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{site.id}" %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  </li>
	
	<li>
    <a  href="#">
      <%= t('site.service') %>
    </a>
    <ul>
      <% Site.find_all_by_siteable_type_and_parent_id_and_active('Header', nil, 1, :order => 'position').each do |parent_site| %>
      <li >
        <%= link_to parent_site.sitenames.find_by_language(get_locale.to_s).value, "/show_sites?site=#{parent_site.id}" %>
      </li>
      <% end %>
    </ul>
  </li>
	
  <li >
	  <%= link_to t('user.login'), login_path %>
	</li>
	
</ul>



<% end %>
