<% if logged_in? %>
<ul class="pureCssMenu pureCssMenum">
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.account') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('user.my_profile'), user_path(current_user), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('user.edit_account'), edit_user_path(current_user), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('user.personals'), personals_path, :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('user.my_workshop') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('workshop.edit'), edit_workshop_url(current_user.id), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('workshop.show'), workshop_url(current_user.id), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('workshop.all'), users_url, :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.instrument') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('instrument.all'), "/items?taggable_type=Stringg", :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('instrument.mine'), "/items?taggable_type=Stringg&user_id=#{current_user.id}", :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.bows') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('bow.all'), "/items?taggable_type=Bow", :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('bow.mine'), "/items?taggable_type=Bow&user_id=#{current_user.id}", :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.admin') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
	      <li class="pureCssMenui"><%= link_to t('tag.user.index'), tags_path(:taggable_type => 'User'), :class => 'pureCssMenu' %></li>
		    <li class="pureCssMenui"><%= link_to t('tag.workshop.index'), tags_path(:taggable_type => 'Workshop'), :class => 'pureCssMenu' %></li>
		    <li class="pureCssMenui"><%= link_to t('tag.stringg.index'), tags_path(:taggable_type => 'Stringg'), :class => 'pureCssMenu' %></li>
		    <li class="pureCssMenui"><%= link_to t('tag.bow.index'), tags_path(:taggable_type => 'Bow'), :class => 'pureCssMenu' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui">
	  <%= link_to t('user.logout'), logout_path, :class => 'pureCssMenui' %>
	</li>
</ul>
<% else %>
  <ul class="pureCssMenu pureCssMenum">
    <li class="pureCssMenui"><a class="pureCssMenui" href="/users">
  	  <span><%= t('common.workshops') %></span>
  	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
  	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
  	</li>
    <li class="pureCssMenui"><a class="pureCssMenui" href="/items?taggable_type=Stringg">
  	  <span><%= t('common.instrument') %></span>
  	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
  	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
  	</li>
  	<li class="pureCssMenui"><a class="pureCssMenui" href="/bows?taggable_type=Bow">
  	  <span><%= t('common.bows') %></span>
  	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
  	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
  	</li>
    <li class="pureCssMenui">
  	  <%= link_to t('user.login'), login_path, :class => 'pureCssMenui' %>
  	</li>
  </ul>
<% end %>