<% if logged_in? %>
<ul class="pureCssMenu pureCssMenum">
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.account') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('user.show'), user_path(current_user), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('user.edit'), edit_user_path(current_user), :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('user.my_workshop') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('user.edit_my_workshop'), edit_workshop_url, :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('user.show_my_workshop'), workshop_url, :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.instrument') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('instrument.all'), stringgs_url(:taggable_type => 'Stringg'), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('instrument.mine'), stringgs_url(:user_id => current_user.id, :taggable_type => 'Stringg'), :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.bows') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('bow.all'), bows_url(:taggable_type => 'Bow'), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('bow.mine'), bows_url(:user_id => current_user.id, :taggable_type => 'Bow'), :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.admin') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('tag.workshop.index'), tags_path(:taggable_type => 'Workshop', :taggable_kind =>  'Workshop'), :class => 'pureCssMenu' %></li>
		    <li class="pureCssMenui"><%= link_to t('tag.stringg.index'), tags_path(:taggable_type => 'Stringg'), :class => 'pureCssMenu' %></li>
		    <li class="pureCssMenui"><%= link_to t('tag.bow.index'), tags_path(:taggable_type => 'Bow', :taggable_kind =>  'Bow'), :class => 'pureCssMenu' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui">
	  <%= link_to t('user.logout'), logout_path, :class => 'pureCssMenui' %>
	</li>
</ul>
<% else %>
  <ul class="pureCssMenu pureCssMenum">
    <li class="pureCssMenui">
  	  <%= link_to t('user.login'), login_path, :class => 'pureCssMenui' %>
  	</li>
  </ul>
<% end %>