<ul class="pureCssMenu pureCssMenum">
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.account') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('user.show'), user_path(current_user), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('user.edit'), edit_user_path(current_user), :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('user.my_workshop') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('user.my_workshop'), edit_user_taggings_js_path, :class => 'pureCssMenui' %></li>
		    <% base_tag = Tag.find_by_taggable_type_and_parent_id('User', nil) %>
		    <% unless get_added_tags_for_menu(current_user.id) .empty? %>
		      <% get_added_tags_for_menu(current_user.id) .each do |tag| %>
		        <% unless Tag.find_by_parent_id(tag.id).nil? %>
		          <li class="pureCssMenui"><%= link_to tag.tag_names.find_by_language(get_locale.to_s).value, edit_user_taggings_js_path(:parent_id => tag.id), :class => 'pureCssMenui' %></li>
		        <% else %>
		          <li class="pureCssMenui"><%= link_to tag.tag_names.find_by_language(get_locale.to_s).value, edit_user_taggings_js_path, :class => 'pureCssMenui' %></li>
		        <% end %>
		      <% end %>
		    <% end %>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.instrument') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('instrument.all'), instruments_url(), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('instrument.mine'), instruments_url(:user_id => current_user.id), :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.bows') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('bow.all'), bows_url(), :class => 'pureCssMenui' %></li>
		    <li class="pureCssMenui"><%= link_to t('bow.mine'), bows_url(:user_id => current_user.id), :class => 'pureCssMenui' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui"><a class="pureCssMenui" href="#">
	  <span><%= t('common.admin') %></span>
	  <![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	    <ul class="pureCssMenum">
		    <li class="pureCssMenui"><%= link_to t('tag.user.index'), tags_path(:taggable_type => 'User'), :class => 'pureCssMenu' %></li>
		    <li class="pureCssMenui"><%= link_to t('tag.instrument.index'), tags_path(:taggable_type => 'Instrument'), :class => 'pureCssMenu' %></li>
		    <li class="pureCssMenui"><%= link_to t('tag.bow.index'), tags_path(:taggable_type => 'Bow'), :class => 'pureCssMenu' %></li>
	    </ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li class="pureCssMenui">
	  <a class="pureCssMenui" href="#"><%= t('user.logout') %></a>
	</li>
</ul>