!!! Strict
%html
  %head
    %title
      = h(yield(:title) || "Violination")
    =stylesheet_link_tag 'all', 'style', '/javascripts/fancybox/fancybox'
    =javascript_include_tag 'all', 'fancybox/jquery.fancybox-1.3.1.pack'
    -if request.user_agent.to_s.include?('MSIE 7.0')
      = render '/layouts/ie.html.erb'
    = yield(:head) 
  %body
    %div#popup_background 
      %div#divFileProgressContainer
    %div#header
      %div.header_left
      %div#nav_right
        =render '/layouts/header.html.erb'
      %div#nav_left
        =render '/layouts/menu_new.html.erb'
    %div#container
      %div#flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
                    
      %div#content
        =yield
    %div#footer
      %div.content
        %ul
          %li
            =render '/layouts/footer.html.erb'
              

/,'/fancybox/jquery.easing-1.3.pack'