!!! Strict
%html
  %head
    %title
      = h(yield(:title) || "Untitled")
    = stylesheet_link_tag 'menu', 'application', 'style'
    = javascript_include_tag 'jquery', 'jquery.ui', 'application'
    = yield(:head) 
  %body
    %div#container
      %div#nav_top
        =render '/layouts/menu.html.erb'
        
        %div#flash
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
                    
      %div#content
        =yield

